{% extends 'base.html' %}
{% block head %}
{% endblock head %}
{% block body %}
<div class='container'>
    listening to {{ filename }}
    <div class='filestream'>
    </div>
</div>
<script>
function onopen(evt){
}
var table = {};

function single_ticker(evt){
    var $td = $('<div></div>').text(evt.data);
    var $table = $('div.filestream');
    $table.prepend($td);
    if ($table.children().length>50){
        $table.children().last().remove();
    };
}

function onmessage(evt){
    if (evt.data){
        single_ticker(evt);
    }else{
    };
}

var ws;
$(document).ready(function(){
    ws = new WebSocket("{{ ws_url }}");
    ws.onopen = onopen;
    ws.onmessage = onmessage;
});
</script>
{% endblock body %}
